@charset "UTF-8";
/* CSS Document */

/* OVER RIDING THEME ROLLER SETTINGS */

/* SETTING BACKGROUND FOR PAGES */

#login, #index, #ballpython, #cornsnake, #boa, #carpetpython, #snake_index, #genetics_calculator, #reptile_tracker, #mysnakes_maindetails, #mysnakes_feedingdetails, #mysnakes_sheddingdetails, #mysnakes_weightdetails, #mysnakes_lengthdetails, #add_snake, #add_feeding, #add_shedding, #add_weight, #add_length, #this_shedding, #mysnakes_editshedding, #this_weightdetails, #this_lengthdetails, #mysnakes_editweight, #mysnakes_editlength, #this_feeding, #mysnakes_editfeeding, #mysnakes_editsnake, #breeding_mypairings, #add_pairings,#breeding_thispairing, #add_clutch, #breeding_editclutch, #add_event, #this_event_main, #breeding_editevent, #breeding_editpair, #morph_index, #morph_details, #register, #care_tips {
	background:url(../images/black_scales2.png);
} 

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
	margin-top: 0px;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	color:#B3D449;
	margin-top: 0px;
	margin-bottom: 0px;
}

h4 {
	font-family: 'Source Sans Pro', sans-serif;
}

p {
	color: #FFF;
	font-size: 16px;
	font-family: 'Anaheim', sans-serif;
}

#login_popup {
	background: #000;
	font-size:20px;
	border:3px solid #9FE047;	
}

#register_popup {
	background: #000;
	font-size:20px;
	border:3px solid #9FE047;	
}

#choose_photo_popup {
	background: #000;
	font-size:20px;
	border:3px solid #9FE047;
}

#qr_email_popup {
	background: #000;
	font-size:20px;
	border:3px solid #9FE047;
}

#qr_generate_popup {
	background: #000;
	font-size:20px;
	border:3px solid #9FE047;
}

#choose_photo_but, #take_photo_but {
	margin-left: 20px;
	margin-right: 20px;
}

#delete_feeding_popup, #delete_shedding_popup, #delete_weight_popup, #delete_length_popup, #delete_snake_popup, #delete_clutch_popup, #delete_event_popup, #delete_pair_popup  {
	background: #000;
	font-size:20px;
	border:3px solid #9FE047;	
}

#add_snake_form, #add_feeding_form, #add_shedding_form, #add_weight_form, #add_length_form, #add_pairing_form, #add_clutch_form, #add_event_form, #email_qr_form,#mysnakes_generateqr {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#mysnakes_lengthdate, #mysnakes_editlengthdate, #mysnakes_weightdate, #mysnakes_editweightdate, #mysnakes_sheddingdate, #mysnakes_editsheddingdate, #mysnakes_feedingdate, #mysnakes_editfeedingdate, #mysnakes_snakedate, #mysnakes_editsnakedate, #pairings_editpairingsdate, #pairings_addpairingsdate,#breeding_eventdate,#breeding_editeventdate,#breeding_editclutchdate,#breeding_clutchdate { 
	display: none;
}

.fp_logo {
	margin-top: 30px;
	margin-bottom: 24px;	
}

#fp_logo2 {
	margin-top: 5px;
	margin-bottom: 15px;	
}

#mysnakes_li {
	height: 82px;
}

#MySnakesList {
	margin-bottom: 0px;	
}

#morph_index_list {
	margin-bottom: 0px;	
}

#morph_index_li {
	height: 82px;
}

#feeding_list {
	margin-bottom: 0px;	
	margin-top: 0px;	
}

#shedding_list {
	margin-bottom: 0px;	
	margin-top: 0px;	
}

#length_list {
	margin-bottom: 0px;	
	margin-top: 0px;	
}

#weight_list {
	margin-bottom: 0px;	
	margin-top: 0px;	
}

#PairingsList {
	margin-bottom: 0px;	
}

#morph_desc {
	color: #FFF;
	box-shadow: none;
	margin-top: 15px;
	font-size: 16px;
}

#snake_buttons {
	margin-left: 30px;	
    margin-bottom: 13px;
    margin-top: 112px;
}

#qr_buttons {
	margin-left: 35px;	
}

#mysnakes_con1 {
	width: 350px;
}

#mysnakes_image {
	float: left;
	width: 100px;
}

#mysnakes_maininfo {
	float: left;
	margin-left: 10px;
}

#pairing_clutches {
	margin-top: 10px;	
}

#add_clutch_button {
    margin-left: -5px;
}

#add_event_button {
    margin-top: -17px;
    margin-left: -5px;
}

#mysnakes_con2 {
	margin-bottom: 13px;
	width: 275px;
	height: 100px;
}

#mysnakes_qr_desc {
	float: left;
	height: 100px;
	width: 165px;
}

#mysnakes_qr_img {
	float: left;
	margin-left: 10px;
}

#more_morphs {
	margin-left: 15px;	
	margin-bottom: 15px;	
}

#mj_logo {
    margin-bottom: 20px;
}

#mj_logo_care {
    margin-bottom: 20px;
}

#fp_logo2_ipad {
    display: none;
}

.fp_logo_ipad {
    display: none;
}

/* CLASS SELECTORS */

.breeding_heading {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-shadow: 0px 0px 0px;
	color: #B3D449;
}

.breeding_info {
    color: #FFF;
	font-size: 16px;
}

.ui-icon-email {
	background-position: -0 -18px; 
	background-image:url(../images/icons-18-white-pack.png);
}

.ui-icon-edit { 
	background-position: -360px -36px; 
	background-image:url(../images/icons-18-white-pack.png);
}

.ui-icon-camera { 
	background-position: -216px -36px; 
	background-image:url(../images/icons-18-white-pack.png);
}

.snake_info {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-shadow: 0px 0px 0px;
	color: #B3D449;
}

.snake_heading {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-shadow: 0px 0px 0px;
	color: #B3D449;
}

.morph_index {
    color: #FFF;
    font-size: 16px;
}

.list_item {
	font-size: 24px;
	margin-top: 10px;	
}

.index_title {
	color:#FFF;
}

.anaheim {
	color: #FFF;
	font-size: 16px;
	font-family: 'Anaheim', sans-serif;
}

.ui-header .ui-title {
	margin-right:20px;margin-left:20px;
}

.ui-collapsible-inset .ui-collapsible-content {
	/*margin-top: 20px;	*/
}

.ui-btn-inner {
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;	
}

.ui-header .ui-title {
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;	
}

.ui-header > .ui-btn, .ui-footer > .ui-btn {
	margin-top: 8px;	
}

.index_title {
	margin-top: 0px;
	font-size: 40px;
	margin-bottom: 15px;	
}

.delete {
	padding-left: 15px;
	padding-right: 15px;	
}

.error_text {
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
    font-weight: 600;
	color:#F00;
	text-shadow: 0px 0px 0px;
}

.input {
	color: #000;	
	background: #9AD945;
	border: none;
	font-family: 'Source Sans Pro', sans-serif;	
	font-weight: 600;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder {  
   color: black;  
}

/* HD/"retina" sprites for icons
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
		only screen and (-o-min-device-pixel-ratio: 3/2),
		only screen and (min--moz-device-pixel-ratio: 1.3),
		only screen and (min-device-pixel-ratio: 1.3),
		only screen and (min-resolution: 1.3dppx) {
	.ui-icon-email , .ui-icon-edit, .ui-icon-camera {
		background-image:url(../images/icons-36-white-pack.png);
		-moz-background-size: 774px 54px;
		-o-background-size: 774px 54px;
		-webkit-background-size: 774px 54px;
		background-size: 774px 54px;
	}
	.ui-icon-alt {
		background-image: url('images/icons-36-black-pack.png'	);
	}
}

/* iPad Media Queries */

@media screen and (min-width: 768px) {

h3 {
	font-size: 30px;
}


#mj_logo {
    margin-left: 220px;
}

#mj_logo_care {
    margin-left: 220px;
}

.snake_info {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	font-weight: 600;
	text-shadow: 0px 0px 0px;
	color: #B3D449;
}

p {
	font-size: 18px;
	font-family: 'Anaheim', sans-serif;
}

.morph_index {
    font-size: 18px;
}

#morph_desc {
    font-size: 18px;
}

.breeding_heading {
    font-size: 22px;
}

.breeding_info {
	font-size: 18px;
}

#fp_logo {
    display: none;
}

#fp_logo2 {
    display: none;
}

#qr_buttons {
    margin-left: 0px;
    clear: both;
}

#snake_buttons {
    margin-left: 0px;
    clear: both;
    margin-top: 112px;
}

#mysnakes_maininfo {
    margin-left: 10px;
}

#mysnakes_con1 {
	height: 0px;
}

#fp_logo2_ipad {
    display: block;
    margin-top: 20px;
    margin-left: 15px;
}

#fp_logo_ipad {
    display: block;
    margin-top: 60px;
    margin-left: 15px;
}

}


